<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="央视网,央视微博,CCTV微博,CCTV官方微博,央视主持人微博, 央视主持人官方微博, CCTV主持人微博,CCTV频道微博,政务微博,政府官方微博,热门活动,热门话题,热门主持人" />
		<meta name="description" content="央视微博是中央电视台唯一下属官方微博，包含海量央视主持人微博及央视频道微博" />
		<title>猜你喜欢_央视网</title>

		<link href="http://static.t.cntv.cn/css/square.css" rel="stylesheet" type="text/css" />
		<link href="http://static.t.cntv.cn/css/jqzoom.css" rel="stylesheet" type="text/css" />
		<link href="http://static.t.cntv.cn/css/base.css" rel="stylesheet" type="text/css" />
		<link href="/static/iframe/videoguess/stylesheets/base.css" rel="stylesheet" type="text/css" />
		<link href="/static/iframe/videoguess/stylesheets/index.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="/static/js/json2.js"></script>
		<script type="text/javascript" src="/static/js/jquery.ImgScrcollBlock.js"></script>
		<script type="text/javascript" src="/static/js/jquery.ImgScrcollBlock_ajax.js"></script>
		<script type="text/javascript" src="/static/iframe/videoguess/js/guessresult.js"></script>
		<script type="text/javascript" src="http://www.cntv.cn/Library/include/netvs/special_top_hudong_utf.js"></script>

	</head>

	<body>
		<div id="container">
			<!--[if !IE]>header 开始<![endif]-->
			<!--[if !IE]>header 结束<![endif]-->

			<!--[if !IE]>nav 开始<![endif]-->
			<!--[if !IE]>nav 结束<![endif]-->

			<!--[if !IE]>main 开始<![endif]-->
			<div id="main">
				<div id="mask"></div>
				<div class="titlelist clearfix">
					<div class="title_left">
						<h3 class="title">猜你喜欢</h3>
					</div>
					<div class="title_right">
						<p>
							我们推荐的视频，如不符合您的口味，请 <a id="return" href="javascript:void(0);">返回重选》</a>
						</p>
					</div>
				</div>

				<!--[if !IE]>section 开始<![endif]-->
				<div id="guess" class="section">
					<div class="lunhuan clearfix">
						<div class="buttonL">
							<a href="javascript:void(0);"></a>
						</div>
						<div class="lunhuan_content clearfix">
							<div class="pics clearfix"></div>
						</div>
						<div class="buttonR">
							<a href="javascript:void(0);"></a>
						</div>
					</div>
				</div>
				<!--[if !IE]>section 结束<![endif]-->

				<!--[if !IE]>line 开始<![endif]-->
				<div class="crossline"></div>
				<!--[if !IE]>line 结束<![endif]-->

				<!--[if !IE]>section 开始<![endif]-->
				<div id="classresult" class="section">

				</div>
				<!--[if !IE]>section 结束<![endif]-->
			</div>
			<!--[if !IE]>main 结束<![endif]-->

			<!--[if !IE]>footer 开始<![endif]-->
			<!--[if !IE]>footer 结束<![endif]-->
		</div>
		<div>
			<script type="text/javascript" src="http://my.cntv.cn/js/bottom.js" charset="gbk"></script>
		</div>
	</body>
</html>
